@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}

#wrap {
    display: flex;
    flex-wrap: wrap;
}

#header {
    width: 200px;
    background-color: #439ce4;
}

#header .logo {
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #7fb1db;
}

#header .logo a {
    color: #fff;
    font-size: 24px;
}

#header .nav {
    height: 550px;
    padding: 10px;
}

#header .nav>ul>li>a {
    width: 100%;
    padding: 10px;
    color: #439ce4;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    margin-bottom: 5px;
}

#header .nav>ul>li>a:hover {
    background-color: #b5c9e4;
}

#header .nav>ul>li>ul {
    margin-bottom: 10px;
    display: none;
}

#header .nav>ul>li>ul>li {
    margin-bottom: 2px;
}

#header .nav>ul>li>ul>li>a {
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: #6eb1e7;
    display: inline-block;
    text-align: center;
    font-size: 18px;
}

#header .nav>ul>li>ul>li>a:hover {
    background-color: #2e90e0;
}

#main {
    width: calc(100% - 200px);
    height: 650px;
    background-color: #bbb;
}

#main .cont1 {
    width: 100%;
    display: flex;
}

#main .cont1 .sliders {
    width: calc(100% - 230px);
    height: 400px;
    overflow: hidden;
}

.slider-wrap {
    position: relative;
    width: 100%;
    height: 400%;
    display: flex;
    flex-direction: column;
}

.slider-wrap .slider {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slider-wrap .slider h2 {
    color: #fff;
    background-color: #000000c6;
    border-radius: 50px;
    padding: 20px 30px;
    margin-bottom: 10px;
}

.slider-wrap .slider p {
    background-color: #000000c6;
    color: #fff;
    padding: 10px;
}

.slider-wrap .slider.s1 {
    background-image: url(../images/slider01.jpg);
}

.slider-wrap .slider.s2 {
    background-image: url(../images/slider02.jpg);
}

.slider-wrap .slider.s3 {
    background-image: url(../images/slider03.jpg);
}



#main .cont1 .banner {
    width: 230px;
    height: 400px;
    background: url(../images/banner01.jpg) center / cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main .cont1 .banner>div {
    text-align: center;
    width: 80%;
    height: 90%;
    background-color: #00000047;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#main .cont1 .banner>div h3 {
    color: #fff;
    font-size: 24px;
}

#main .cont1 .banner>div p {
    padding: 10px;
    color: #fff;
}

#main .cont1 .banner>div a {
    color: #000;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
}

#main .cont2 {
    display: flex;
}

#main .cont2 .notice {
    width: 50%;
    height: 250px;
    padding: 30px;
    background-color: #d9e8f5;
}

#main .cont2 .notice h3 {
    font-size: 30px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#main .cont2 .notice li {
    display: flex;
    justify-content: space-between;
    line-height: 1.7;
}

#main .cont2 .notice li::before {
    content: '-';
}

#main .cont2 .notice li a {
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#main .cont2 .notice li span {
    width: 30%;
    text-align: right;
}

#main .cont2 .notice li a:hover {
    text-decoration: underline;
    text-decoration-skip: under;
}

#main .cont2 .gallery {
    width: 50%;
    height: 250px;
    padding: 30px;
    background-color: #a5c3db;
}

#main .cont2 .gallery h3 {
    font-size: 30px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#main .cont2 .gallery ul {
    display: flex;
    justify-content: space-between;
}

#main .cont2 .gallery li {
    width: 32%;
    text-align: center;
}

#main .cont2 .gallery li a img {
    width: 100%;
    max-width: 180px;
    display: block;
    margin: 0 auto;
}

#main .cont2 .gallery li a span {
    margin-top: 5px;
    display: block;
}

#main .cont2 .gallery li a:hover {
    opacity: 0.5;
}

#footer {
    width: 100%;
    display: flex;
}

#footer .title {
    width: 200px;
    height: 100px;
    background-color: #9e9d9d;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer .title h4 {
    font-size: 24px;
    color: #fff;
}

#footer .copy {
    width: calc(100% - 430px);
    height: 100px;
    background-color: #7b7878;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer .copy p {
    padding: 20px;
}

#footer .family {
    width: 230px;
    height: 100px;
    background-color: #5f5c5c;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer .family select {
    width: 200px;
    height: 50px;
    border: 1px solid #000;
    background-color: #938c8c;
    text-align: center;
    font-size: 16px;
}

/* modal */
.modal {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background-color: #9dccf2;
    border: 4px solid rgb(0, 100, 167);
    padding: 20px;
    z-index: 2000;
}

.modal h4 {
    font-size: 24px;
    margin-bottom: 15px;
}

.modal a {
    display: inline-block;
    padding: 2px 20px;
    background-color: #0682e7;
    color: #fff;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}