@font-face {
    font-family: "YANGJIN";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/YANGJIN.woff") format("woff"),
        url("../fonts/YANGJIN.woff2") format("woff2");
    font-display: swap;
}

:root {
    --fontY: "YANGJIN";
}

* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    outline: 1px solid blue !important;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.none {
    display: none !important;
}

#quiz__wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../assets/quizimg/bg1.png);
}

.quiz__start {
    width: 100%;
    height: 80vh;
    margin-top: 40px;
}

.quiz__start .title {
    text-align: center;
    margin-bottom: 40%;
}

.quiz__start .title span {
    font-family: var(--fontY);
    font-size: 5vmax;
    font-weight: 400;
    color: #A8E3C1;
    text-shadow:
        -3px -3px 0 #3D2416,
        3px -3px 0 #3D2416,
        -3px 3px 0 #3D2416,
        3px 10px 0 #3D2416;
}

.quiz__start .title h1 {
    font-family: var(--fontY);
    font-size: 10vmax;
    color: #FECA4F;
    text-shadow:
        -3px -3px 0 #3D2416,
        3px -3px 0 #3D2416,
        -3px 3px 0 #3D2416,
        3px 10px 0 #3D2416;
}

.quiz__start .title ul {
    margin: 10px;
}

.quiz__start .title li {
    padding: 10px;
    font-size: 16px;
    color: #FECA4F;
    text-shadow:
        -1px -1px 0 #3D2416,
        1px -1px 0 #3D2416,
        -1px 1px 0 #3D2416,
        1px 1px 0 #3D2416;
}

.quiz__start .title li i {
    font-style: normal;
    color: #fa0303;
}

#quiz__wrap .canva {
    position: absolute;
    bottom: 358px;
    left: 120px;
    width: 10px;
    height: 10px;
}

#quiz__wrap .canva2 {
    position: absolute;
    bottom: 330px;
    right: 300px;
    width: 10px;
    height: 10px;
}

.quiz__start .btn button {
    padding: 10px 30px;
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 2vmax;
    font-weight: bold;
    background-color: #3D2416;
    border: 1px solid #3D2416;
    color: #FFFB7D;
    cursor: pointer;
}

.quiz__play {
    width: 70vw;
    min-height: 60vh;
    border: 10px solid #fff;
    background-color: #928BFF;
    /* border-radius: 10px; */
    position: relative;
    padding: 24px;
}

.quiz__play::before {
    content: '정보처리 기사의 꿈';
    position: absolute;
    font-family: var(--fontB);
    left: -15px;
    top: -61px;
    font-family: var(--fontB);
    font-size: 60px;
    color: #FECA4F;
    text-shadow:
        -3px -3px 0 #3D2416,
        3px -3px 0 #3D2416,
        -3px 3px 0 #3D2416,
        3px 10px 0 #3D2416;
    text-transform: uppercase;

}

.quiz__play::after {
    content: 'Why';
    position: absolute;
    font-family: var(--fontB);
    right: -63px;
    bottom: -31px;
    font-family: var(--fontB);
    color: #40FFAE;
    font-size: 60px;
    text-shadow: 5px 5px 0px #fff;
    transform: rotate(325deg);
    text-transform: uppercase;
}

.quiz__play .quiz__wrap {
    width: 70vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.quiz__play .quiz__wrap .answer {
    margin-top: 30px;
}

.quiz__play .quiz__wrap .input input {
    width: calc(100% - 15px);
    height: 100px;
    border-radius: 20px;
    border: 0;
    text-align: center;
    font-size: 50px;
    border: 8px solid #fff;
}

.quiz__play .input input::placeholder {
    color: #827fb5;
}

.quiz__play .confirm {
    text-align: center;
    margin-top: 20px;
}

.quiz__play .confirm button {
    font-family: var(--fontG);
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    border: 0;
    width: 30%;
    height: 50px;
    background-color: #7067f2;
    color: #fff;
    border: 4px solid #fff;
    cursor: pointer;
}

.quiz__play .number {
    position: absolute;
    right: -10px;
    top: -73px;
    background-color: #4f44ea;
    color: #fff;
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    padding: 10px 30px;
    border: 10px solid #fff;
}

.quiz__play .quiz__wrap .question {
    font-family: var(--fontG);
    color: #fff;
    line-height: 1.3;
    font-size: 24px;
    width: 100%;
    height: 35vh;
}

.quiz__play .question::before {
    content: 'Q.';
    font-size: 40px;
    font-weight: bold;
    color: #FFEC51;
}

/* 미디어 쿼리 */
@media (max-width:800px) {
    .quiz__start {
        width: 100%;
        height: 100vh;
    }

}